.programItem-container {
   margin: 10px 15px;
}

.program-item-img {
    width: 300px;
    border-radius: 6px 6px 0px 0px;
    cursor: pointer;

}

.lower-programitem {
    width: 300px;
    height: 220px;
    background-color: #212529;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 15px 15px 10px 15px;
    border-radius: 0px 0px 6px 6px;
    margin-top: -5px;
}

.name-frame {
    width: 270px;
    height: 30px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.programitem-desc {
    width: 270px;
    font-size: 16px;
    margin-top: 20px;
}