.home-container {
    min-width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 100px;
}

.live {
    width: 100vw;
    height: 33vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 20px;
}

.heading {
    font-size: 35px;
    margin-bottom: 30px;
}

.channels {
    display: flex;
    align-items: center;
    justify-content: center;
}
