header {
    width: 100%;
    height: 12vh;
    background-color: #212529;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 100px;
    padding-left: 100px;
}

.list {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 230px;
    font-size: 16px;
}

.list li {
    cursor: pointer;
    color: white;
    text-decoration: none;
}

Link {
    color: white;
    text-decoration: none;
}

Link:active {
    text-decoration: none;
}

a {
    color: white;
    text-decoration: none;
  }
  
  a:active {
    text-decoration: none;
  }

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
}

.logo-text {
    margin-right: 6px;
    font-family: "Margin";
    font-size: 38px;
    letter-spacing: 1px;
}

.snail-img {
    width: 40px;
}